newegg/newegg/__pycache__/
newegg/newegg/spiders/__pycache__/
yahooscraping/yahooscraping/__pycache__/
yahooscraping/yahooscraping/spiders/__pycache__/
.ipynb_checkpoints/

matchProfiles.txt
matchUserList.txt
images/