newegg/newegg/__pycache__/
newegg/newegg/spiders/__pycache__/
yahooscraping/yahooscraping/__pycache__/
yahooscraping/yahooscraping/spiders/__pycache__/
.ipynb_checkpoints/

matchLists/
matchImages/

TestSelenium/__pycache__/

node_modules/
package.json
package-lock.json